

.app {
  height: 10em;
  width: 10em;
  background: lightblue;
  overflow: hidden;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes enterHeader {
  from {
    margin-left: -300%;
  }
  to {
    margin-left: 0%;
  }
}

.modalHeader{
  color: red;

  -moz-animation-name: enterHeader;
  -webkit-animation-name: enterHeader;
  animation-name: enterHeader;

  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@keyframes enterSnowman {
  from {
    margin-left: 300%;
  }
  to {
    margin-left: 0%;
  }
}

img {
  height: 50vh;
  width: auto;
  background: transparent;

  -moz-animation-name: enterSnowman;
  -webkit-animation-name: enterSnowman;
  animation-name: enterSnowman;

  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.modalButton{
color: green;
transition: color 3s ease-in;
}